@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: hsl(0, 0%, 100%);
		--foreground: hsl(222.2, 84%, 4.9%);
		--card: hsl(0, 0%, 100%);
		--card-foreground: hsl(222.2, 84%, 4.9%);
		--popover: hsl(0, 0%, 100%);
		--popover-foreground: hsl(222.2, 84%, 4.9%);
		--primary: hsl(222.2, 47.4%, 11.2%);
		--primary-foreground: hsl(210, 40%, 98%);
		--secondary: hsl(210, 40%, 96.1%);
		--secondary-foreground: hsl(222.2, 47.4%, 11.2%);
		--muted: hsl(210, 40%, 96.1%);
		--muted-foreground: hsl(215.4, 16.3%, 46.9%);
		--accent: hsl(210, 40%, 96.1%);
		--accent-foreground: hsl(222.2, 47.4%, 11.2%);
		--destructive: hsl(0, 84.2%, 60.2%);
		--destructive-foreground: hsl(210, 40%, 98%);
		--border: hsl(214.3, 31.8%, 91.4%);
		--input: hsl(214.3, 31.8%, 91.4%);
		--ring: hsl(222.2, 84%, 4.9%);
		--radius: 0.5rem;
		--chart-1: hsl(12, 76%, 61%);
		--chart-2: hsl(173, 58%, 39%);
		--chart-3: hsl(197, 37%, 24%);
		--chart-4: hsl(43, 74%, 66%);
		--chart-5: hsl(27, 87%, 67%);
		--myText: #ffffff;
		--myText2: #ffffffbf;
		--myText3: #8792B0;
		--myGreen: #70c1b3;
		--myBlue: #24799e;
		--myYellow: #ffe066;
		--myPink: #F25F5C;
		--myBrown: #50514F;
		--myOx: #941b0c;
	}

	.dark {
		--background: hsl(222.2, 84%, 4.9%);
		--foreground: hsl(210, 40%, 98%);
		--card: hsl(222.2, 84%, 4.9%);
		--card-foreground: hsl(210, 40%, 98%);
		--popover: hsl(222.2, 84%, 4.9%);
		--popover-foreground: hsl(210, 40%, 98%);
		--primary: hsl(210, 40%, 98%);
		--primary-foreground: hsl(222.2, 47.4%, 11.2%);
		--secondary: hsl(217.2, 32.6%, 17.5%);
		--secondary-foreground: hsl(210, 40%, 98%);
		--muted: hsl(217.2, 32.6%, 17.5%);
		--muted-foreground: hsl(215, 20.2%, 65.1%);
		--accent: hsl(217.2, 32.6%, 17.5%);
		--accent-foreground: hsl(210, 40%, 98%);
		--destructive: hsl(0, 62.8%, 30.6%);
		--destructive-foreground: hsl(210, 40%, 98%);
		--border: hsl(217.2, 32.6%, 17.5%);
		--input: hsl(217.2, 32.6%, 17.5%);
		--ring: hsl(212.7, 26.8%, 83.9%);
		--chart-1: hsl(220, 70%, 50%);
		--chart-2: hsl(160, 60%, 45%);
		--chart-3: hsl(30, 80%, 55%);
		--chart-4: hsl(280, 65%, 60%);
		--chart-5: hsl(340, 75%, 55%);
	}

	/* *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } */

	.layout {
		position: relative;
		max-width: 68.75rem;
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}

	@font-face {
		font-family: "Outfit-Light";
		src: local("Outfit-Light"),
			url("./assets/fonts/Outfit/static/Outfit-Light.ttf") format("truetype")
	}

	@font-face {
		font-family: "Outfit-Regular";
		src: local("Outfit-Regular"),
			url("./assets/fonts/Outfit/static/Outfit-Regular.ttf") format("truetype")
	}

	@font-face {
		font-family: "Outfit-SemiBold";
		src: local("Outfit-SemiBold"),
			url("./assets/fonts/Outfit/static/Outfit-SemiBold.ttf") format("truetype")
	}

	@font-face {
		font-family: "Outfit-Bold";
		src: local("Outfit-Bold"),
			url("./assets/fonts/Outfit/static/Outfit-Bold.ttf") format("truetype")
	}

}

@layer components {
	.image-spin {
		@apply bg-green-500 animate-corner inline-block w-2 h-2 ml-1;
	}

	.wave-emoji {
		@apply animate-wave origin-bottom
	}

	.image-spin:hover {
		animation-play-state: paused;
	}

	.create-span {
		background-color: var(--color-text2);
		background-image: linear-gradient(45deg,
				var(--myPink) 30%,
				var(--myYellow) 40%,
				var(--myBlue) 75%,
				var(--myGreen) 90%);
		background-size: 100%;
		background-repeat: repeat;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-text-fill-color: transparent;

		animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
	}

	.currently-open {
		transition: all 0.50s ease-in-out;
	}

	/* .list-disc-normal::marker {} */

	.list-disc-pulse::marker {
		@apply animate-disc;
		color: var(--myGreen);
		/* Tailwind's blue-600 color */
	}

	.fadeout-marquee {
		mask-image: linear-gradient(
			to right,
			transparent,
			black 10rem,
			black calc(100% - 10rem),
			transparent
		);
	}

	.marquee {
		width: 60%;
		overflow: hidden;
		--speed: 20s;
		--single-slide-speed: calc(var(--speed) / var(--numberOfReads));
		--item-width: 120px;
		--item-gap: 10px;
		--item-width-plus-gap: calc(var(--item-width) + var(--item-gap));
		--track-width: calc(var(--item-width-plus-gap) * calc(var(--numberOfReads) - 1));
	}

	.marquee-track {
		container-type: inline-size;
  	display: grid;
   	grid-template-columns: var(--track-width) [track] 0px [resting];
    width: fit-content;
	}

	.marquee-item {
		display: flex;
		grid-area: resting;
		justify-content: center;
		align-items: center;
		width: var(--item-width);
		aspect-ratio: 1/1.2;
	 background-color: rgba(255, 255, 255, 0.1);
 color: #fff;
		animation: marquee-move var(--speed) linear infinite;
		animation-delay: calc(var(--single-slide-speed) * var(--item-index) * -1);
	}
}


/*




 grid-area: resting;
 animation: marquee-move var(--speed) linear infinite var(
     --direction,
     forwards
   );
 animation-delay: calc(var(--single-slide-speed) * var(--item-position) * -1); */

 @keyframes corner {
	0%,
	100% {
		border-top-left-radius: 1% 50%;
		--background: var(--myOx);
	}

	12.5% {
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
		--background: var(--myGreen);
	}

	25% {
		border-top-right-radius: 1% 50%;
		--background: var(--myGreen);
	}

	25.125% {
		border-top-right-radius: 50% 1%;
		--background: var(--myYellow);
	}

	37.5% {
		border-top-right-radius: 50%;
		border-bottom-right-radius: 50%;
		--background: var(--myPink);
	}

	50% {
		border-bottom-right-radius: 50% 50%;
		--background: var(--myBlue);
	}

	50.125% {
		border-bottom-right-radius: 1% 50%;
		--background: var(--myYellow);
	}

	62.5% {
		border-bottom-right-radius: 50%;
		border-bottom-left-radius: 50%;
		--background: var(--myYellow);
	}

	75% {
		border-bottom-left-radius: 1% 50%;
		--background: var(--myPink);
	}

	75.125% {
		border-bottom-left-radius: 50% 1%;
		--background: var(--myPink);
	}

	87.5% {
		border-bottom-left-radius: 50%;
		border-top-left-radius: 50%;
		--background: var(--myBrown);
	}

	100% {
		border-top-left-radius: 1% 50%;
		--background: var(--myOx);
	}
 }

@keyframes wave {
	0% {
		transform: rotate(0deg);
	}

	20% {
		transform: rotate(-30deg);
	}

	40% {
		transform: rotate(30deg);
	}

	60% {
		transform: rotate(-15deg);
	}

	80% {
		transform: rotate(15deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
	0% {
		background-size: 650%;
	}

	40% {
		background-size: 650%;
	}

	100% {
		background-size: 100%;
	}
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
	0% {
		background-size: 37%;
		background-position: 0 0;
	}

	20% {
		background-size: 37%;
		background-position: 0 1em;
	}

	100% {
		background-size: 100%;
		background-position: -9em 2em;
	}
}

@keyframes pulse {
	0%,
	100% {
		transform: scale(1);
		opacity: 1;
	}

	50% {
		transform: scale(1.8);
		opacity: 0.5;
	}
}

@keyframes marquee-move {
  to {
    transform: translateX(calc(-100cqw - 100%));
  }
}


@layer utilities {
	.animate-corner {
		animation: corner 3s ease infinite;
	}

	.animate-wave {
		animation: wave 3s ease-in-out infinite;
	}

	.animate-disc {
		animation: pulse 2s ease infinite;
	}


}
